<?xml version="1.0" encoding="UTF-8" ?>

<configuration>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
<!--        satlog-->
        <file>E:\twitterapplication\tmp\logs\applog</file>
        <encoder>
            <pattern>[%thread] %-5level [%X{logId}] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE2" class="ch.qos.logback.core.FileAppender">
<!--        catalina-->
        <file>E:\twitterapplication\tmp\logs\applog2</file>
        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS}|%X{logId}|%X{apiMethod}|%X{apiUrl}|%X{status}|%X{hitTime}|%X{endTime}|%X{executionTime}%n</pattern>
        </encoder>
    </appender>

    <logger name="com.example.twitterapplication" level="INFO" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="com.example.twitterapplication" level="INFO" additivity="false">
        <appender-ref ref="FILE2"/>
    </logger>

<!--    <root level="INFO">-->
<!--        <appender-ref ref="FILE"/>-->
<!--    </root>-->

</configuration>